
#titulo {
  font-size: 2.5em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

#titulo_indice {
  font-size: 1.5em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}


.verse {
    font-family: Palatino,Book Antiqua,Georgia,serif;
    font-size:340%;
}

#passagem {
  margin-left: auto;
  margin-right: auto;
  width: 50em;
  margin-top: 120px;
}

.header {
  position: fixed;
  height: 90px;
  top: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  background-color: #000;
  color: #FFF;
}

.header_indice {
  position: fixed;
  height: 50px;
  top: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  background-color: #000;
  color: #FFF;
}


.indice_tabela {
  margin-top: 60px;
}


.indice_tabela th {
  margin-top: 50px;
  height: 0;
}

.indice_tabela td {
  width: 10%;
}


.indice_tabela a:link {
  color: #fff;
}


.sigla {
  margin-bottom: 4px;
  color: #fff;
  font-weight: bold;
}

.nome_livro {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 16px;
  color: #fff;
  font-weight:bolder;
}

.pentateuco {
  background-color: #1A070D;
}

.transparent {
  opacity: 0.15;
}

.historicos {
  background-color: #310E1A;
}

.poeticos {
  background-color: #481727;
}

.profetas_maiores {
  background-color: #61354C;
}

.profetas_menores {
  background-color: #7A546F;
}

.evangelhos {
  background-color: #283554;
}

.atos {
  background-color: #334E68;
}

.cartas_paulo {
  background-color: #3E6A7C;
}

.cartas_gerais {
  background-color: #498A8F;
}

.profetico {
  background-color: #55A297;
}

sup {
  margin-right: 10px;
  font-style: italic;
  font-size: 0.5em;
}

#indice_capitulos {
  margin-left: auto;
  margin-right: auto;
  width: 40em;
  margin-top: 30px;
}

table {
  width: 100%;
  border-width: 1px;
  text-align: center;
  margin-top: 120px;
  /*font-size:150%;*/
}

th {
    height: 50px;
    /*padding: 15px;*/
}

td {
}

a {
    padding-left: 30px;
    padding-right: 30px;
}

img {
}

a:link {
    text-decoration: none;
    color: black;
    display: inline-block;
}

a:visited {
    text-decoration: none;
    color: #444;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
    display: inline-block;
}

a:active {
    text-decoration: underline;
    display: inline-block;
}
